@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    text-decoration: none;
}
