.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
    display: flex;
}

.search,
.search-result {
    width: 361px;
}

.search {
    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    position: relative;
    border: 1px solid transparent;

    input {
        outline: none;
        border: none;
        background-color: transparent;
        height: 100%;
        font-size: 16px;
        flex: 1;
        color: #818181;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: 52px;
        width: 1px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.12);
    }
}
.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    right: 64px;
    top: 50%;
    transform: translateY(-50%);
    color: #a7a7ab;
    border: none;
}

.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.actions {
    display: flex;
}

.custom-login {
    color: rgba(22, 24, 35, 0.75);
}

.more-btn {
    font-size: 1.8rem;
    margin-left: 24px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    font-size: 2.6rem;
    background-color: transparent;
    width: 26px;
    height: 26px;
    color: #161823;
    cursor: pointer;
    margin-left: 24px;
    padding: 3px 3px 0;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 28px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
