.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: var(--white);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo-link {
    display: flex;
}

.logo {
    display: flex;
}

//  Actions
.actions {
    display: flex;
}

.custom-login {
    color: rgba(22, 24, 35, 0.75);
}

.more-btn {
    font-size: 1.8rem;
    margin-left: 24px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    position: relative;
    font-size: 2.6rem;
    background-color: transparent;
    color: #161823;
    cursor: pointer;
    margin-left: 12px;
    padding: 3px 3px 0;
}

.badge {
    height: 20px;
    min-width: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 20px;
    color: var(--white);
    position: absolute;
    top: -3px;
    right: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 44, 85);
    border-radius: 10px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 28px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
