.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 60px;
    width: var(--default-layout-width);
    display: flex;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.content {
    flex: 1;
}
